#DI Note 7/9/24: This requirements file is problematic/not working currently.
requests
lxml
defusedxml
pandas
jupyter
gdal >= 2.2.3
geopandas
pyqt
xlrd
python-docx
habanero
gitpython
git
folium
jupyterlab